@using AdmirSabanovic.Areas.Admin.Models;
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<Forms> allForms = (List<Forms>)ViewData["allForms"];    
}
<link href="~/Content/admin/plugins/morris/morris.css" rel="stylesheet">
@section body_styles
{
    
}

<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Dashboard
        <small>it all starts here</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <select class="form-control allForms" style="width:50%" data-placeholder="Choose a Form..">
                    <option value="">Choose Form</option>
                     @foreach (var item in allForms)
                     {
                           <option value="@item.ID">@item.Name</option>
                     }
                </select>
            </div>
        </div>
    </div>
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Forms statistics</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
           </div>
        </div>
        <div class="box-body">
            <div id="formstatistics"></div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            Shared
        </div><!-- /.box-footer-->
    </div><!-- /.box -->

     <div class="panel panel-info">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i><b>Completed per day</b>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="registered" style="height: 250px;"></div>
        </div>
        <!-- /.panel-body -->
    </div>
    <div class="row">

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3 id="emailActivated">N / N</h3>
                    <p>Email Activated</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                </a>
            </div>
        </div>
    </div>
                    
</section><!-- /.content -->
</div><!-- /.content-wrapper -->
    
@section body_scripts
{
<script>
$(function () {
    var loadRegisteredStatisticsChart = function (data) {
        $("#registered").empty();
        new Morris.Line({
            element: 'registered',
            data: data,
            xkey: 'day',
            xLabels: 'day',
            ykeys: ['value'],
            labels: ['Value']
        });
    }

    var loadGraphStatisticsForEachForm = function (data) {
        new Morris.Bar({
            element: 'formstatistics',
            data: data,
            xkey: 'form',
            ykeys: ['value'],
            labels: ['Completed'],
        });
    }
    var ajaxCall = function (url, params, response) {
        $.ajax({
            'type': "GET",
            'data': params,
            'url': url,
            'success': function (data) {
                response(data)
            }
        });
    }

    var loadNumberEmailActivated = function (data) {
        $("#emailActivated").html(data[1] + " / " + data[0]);
    }
   
    /*
     *  ON change load only data specific for selected form
     */
    $(".allForms").change(function () {
        var formId = $(".allForms").val();
        if (formId != "") {
            ajaxCall("/Dashboard/getStatisticsRegisteredGraph", { id: formId }, function callback(data) {
                loadRegisteredStatisticsChart(data);
            });
            ajaxCall("/Dashboard/countingStatistics", { formID: formId }, function callback(data) {
                loadNumberEmailActivated(data);
            });
        }
    });

    ajaxCall("/Dashboard/getStatisticForEachForm", null, function callback(data) {
        loadGraphStatisticsForEachForm(data);
    });
});
    
</script>
}
